/* BODY PART CUSTOM */
body{
    font-family: 'Poppins', sans-serif;
}

.center-name{
    font-weight: 700;
    font-size: 22px;
}

/* higlighted card */
.highlighted-card{
     background: #3F87F5;
        border-radius: 26px;
}
.button-off{
    background-color: #fef5fa;
    width:232px;
    height:45px;
}


.title-text{
    color: #231D4F;
}
.icon-cg{
    color: #5243C2;
}
.input-btn {
    height: 30px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .tarea{
      height: 150px;
  }
  /* footer */
footer{
    height: 280px;
}